<settings>

    <setting propertyKey="@Properties.ClockColor" title="@Strings.ClockColorTitle" prompt="@Strings.ClockColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.White</listEntry>
            <listEntry value="1">@Strings.LTGray</listEntry>
            <listEntry value="2">@Strings.DKGray</listEntry> 
            <listEntry value="3">@Strings.Black</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.DKRed</listEntry>
            <listEntry value="6">@Strings.Orange</listEntry>
            <listEntry value="7">@Strings.Yellow</listEntry>
            <listEntry value="8">@Strings.Green</listEntry>
            <listEntry value="9">@Strings.DKGreen</listEntry>
            <listEntry value="10">@Strings.Blue</listEntry>
            <listEntry value="11">@Strings.DKBlue</listEntry>                        
            <listEntry value="12">@Strings.Purple</listEntry>  
            <listEntry value="13">@Strings.Pink</listEntry>  
        </settingConfig>
    </setting> 

    <setting propertyKey="@Properties.ShadOpt" title="@Strings.ShadOptTitle" prompt="@Strings.ShadOptPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.NoShad</listEntry>
            <listEntry value="1">@Strings.BlackShad</listEntry>
            <listEntry value="2">@Strings.WhiteShad</listEntry>
            <listEntry value="3">@Strings.GrayShad</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TimeStep" title="@Strings.TimeStepTitle" prompt="Strings.TimeStepPrompt" >
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DispBatt" title="@Strings.DispBattTitle" prompt="@Strings.DispBattPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.YesBat</listEntry>
            <listEntry value="1">@Strings.NoBat</listEntry>
            <listEntry value="2">@Strings.YesWx</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.SubColor" title="@Strings.SubColorTitle" prompt="@Strings.SubColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.LTGray</listEntry>
            <listEntry value="1">@Strings.DKGray</listEntry>
            <listEntry value="2">@Strings.Black</listEntry>
            <listEntry value="3">@Strings.White</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.Green</listEntry>
            <listEntry value="6">@Strings.Blue</listEntry>
            <listEntry value="7">@Strings.Pink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowNotes" title="@Strings.ShowNotesTitle" prompt="@Strings.ShowNotesPrompt" >
        <settingConfig type="boolean" />
    </setting>   

    <setting propertyKey="@Properties.SecOpt" title="@Strings.SecOptTitle" prompt="Strings.SecOptPrompt">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.TouchOff" title="@Strings.TouchOffTitle" prompt="@TouchOffPrompt">
        <settingConfig type="boolean"/>
    </setting>

</settings>

